{%load staticfiles%}
<div class="pagination">
<table align="center">
	<tr>
		{% if allfilm.has_previous %}
		<td>
            <a href="?page={{ allfilm.previous_page_number }}"><img width="19" src="{%static "img/left.png"%}"/></a>
		</td>
        {% endif %}
		<td>
			<table>
				<tr>
		{%for p in paginator.page_range%}
{%if p|divisibleby:"14"%}
				<tr>
{%endif%}
					<td>
		{%ifequal p  allfilm.number%}
						<a class="page_open" href="?page={{ p }}">{{ p }}</a>
		{%else%}
						<a class="page bottom_page" href="?page={{ p }}">{{ p }}</a>
		{%endifequal%}
					</td>
		{%endfor%}
				</tr>
			</table>
        {% if allfilm.has_next %}
		<td>
            <a href="?page={{ allfilm.next_page_number }}"><img width="20" src="{%static "img/right.png"%}"/></a>
		</td>
        {% endif %}
	</tr>
</table>
</div>
{%for film in allfilm%}
{%if film.check_film%}


<table id="ramka"><tr><td>
<br/>
<div class="name_film_download">
	<a href="/{{film.pk}}/">скачать фильм {{film.name}} ({{film.date}}) {{film.quality}} бесплатно</a><br>
</div>
<div class="category_small">
	Категория:&nbsp;<a href="/">Главная,</a>&nbsp;
{%for i in film.genre.all%}
	<a href="/genre/{{i.pk}}/">{{i.name_genre}}</a>,&nbsp;
{%endfor%}
	| Просмотров: {{film.count}}
</div>
	<table class="line"><tr><td background="{%static "img/linee.gif"%}">&nbsp;</td></tr></table>

<div class="img1">
	<a href="/{{film.pk}}/"><img src="{{film.poster.url}}" /></a>
</div><br>
<div class="detail_film">
	<b>Фильм: </b>{{film.name}}<br>
	<b>Оригинальное название: </b>{{film.orig_name}}<br>
	<b>Год выхода: </b>{{film.date}}<br>
	<b>Студия/Страна: </b>{{film.studio_country}}<br>
	<b>Жанр: </b>
 {%for i in film.genre.all%}{{i.name_genre}}&nbsp;{%endfor%}<br>
	<b>Режиссер: </b>{{film.producer}}<br>
	<b>В ролях: </b>{{film.cast}}<br>
	<b>Продолжительность: </b>{{film.duration}}<br>
	<b>Перевод: </b>{{film.translation}}<br>
	<b>Качество: </b>{{film.quality}}<br>
	<b>Размер: </b>{{film.size}}<br>
	<b>О фильме: </b>{{film.detail}}<br>
</div>

<table class="line">
	<tr><td background="{%static "img/line.gif"%}">
	</td></tr>
</table>
{%load filsms%}
<table class="time">
	<tr><td width=87>
		{%include 'rez_rating.html'%}
	</td>
	<td> 
		[{{film.ratings_film}}({{film.rating_set.all|length}})]
	</td>
	<td>
		|&nbsp;<b>{{film.date_film|date:"j F Y"}}</b> | автор: <a href="/user/{{film.autor.pk}}">{{film.autor}}</a> | Просмотров: {{film.count}} | Комментариев: {{film.coments_set.count}} | <a href="/{{film.pk}}/">ПОДРОБНЕЕ...</a>
	</td></tr>
</table>
<br>
</td></tr></table>
{%endif%}
{%endfor%}
<br/>

<div class="pagination">
<table align="center">
	<tr>
		{% if film_genre.has_previous %}
		<td>
            <a href="?page={{ allfilm.previous_page_number }}"><img width="19" src="{%static "img/left.png"%}"/></a>
		</td>
        {% endif %}
		<td>
			<table>
				<tr>
		{%for p in paginator.page_range%}
{%if p|divisibleby:"14"%}
				<tr>
{%endif%}
					<td>
		{%ifequal p  allfilm.number%}
						<a class="page_open" href="?page={{ p }}">{{ p }}</a>
		{%else%}
						<a class="page bottom_page" href="?page={{ p }}">{{ p }}</a>
		{%endifequal%}
					</td>
		{%endfor%}
				</tr>
			</table>
        {% if film_genre.has_next %}
		<td>
            <a href="?page={{ allfilm.next_page_number }}"><img width="20" src="{%static "img/right.png"%}"/></a>
		</td>
        {% endif %}
	</tr>
</table>
</div>
